* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(233, 229, 200);
}
/* Common styles for all screen sizes */
.main {
  width: 100%;
  background-color: #eecc2181;
  background-color: #ffd700; /* Golden color */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 10%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about {
  padding: 8% 10% 8% 10%;
  line-height: 35px;
  border-radius: 10px;
  background-color: rgba(237, 168, 244, 0.5); /* Adjust the opacity as needed */
  backdrop-filter: blur(10px); /* Applies a blur effect to the background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 5); /* Adds a subtle shadow */
}

.size {
  font-size: 25px;
}
.about h2,
p {
  text-align: center;
  padding-top: 20px;
  font-size: 50px;
  font-weight: 600px;
}

.logo {
  padding: 10px 0px;
  text-align: center;
}

.logo img {
  max-width: 230px;
  border-radius: 10px;
  margin: 1px auto;
}

.sub-Title {
  text-align: center;
  padding-top: 20px;
  font-size: 50px;
  font-weight: 600px;
}
/* ----------------------Event-------------------------- */
#content {
  padding: 50px 0;
}

.Event-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  box-shadow: 10px 8px 8px rgba(0, 0, 0, 5);
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(248, 218, 68, 0.6), #ffffff);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: 0.1s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}
/* ---------------x-------Event-------x------------------- */

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .about {
    padding: 1% 10%;
  }
}

.PrizeDistribution {
  position: relative;
  overflow: hidden;
  padding: 5%;
  text-align: center;
}

.PrizeDistribution img {
  width: 800px;
  height: auto;
  margin-top: 20px;
  left: 50%;
  box-shadow: 0 8px 10px rgba(242, 224, 32, 0.99);

  border-radius: 5%;
}
